.sidebar-box{
    min-height: 100vh;
    height: auto;
    width: 18vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #333;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: none;
    box-shadow: 1px 1px 10px #333;
}

.sidebar-box .sidebar-logo{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo h1{
    font-size: 54px ;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 1px 1px 4px #f5b754;
}

.sidebar-logo h1 span{
    color: #f5b754;
}

.sidebar-box .sidebar-links{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
}

.sidebar-links nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-links nav a{
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 50px;
    margin: 2px 0;
    letter-spacing: 1px;
    border: none;
    outline: none;
    transition: 0.5s ease-in-out;
}

.sidebar-links nav a.active, .sidebar-links nav a:hover{
    color: #333;
    font-weight: 900;
    background-color: #f5b754;
    outline: none;
    border: none;
}

.sidebar-links nav a.active{
    cursor: not-allowed;
}

#admin-logout:hover{
    background-color: red;
    color: #fff;
}   