.admin-login-container{
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.admin-login-container::before{
    content: '';
    background: url('../images/pagetitle.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

.admin-login-container h1{
    font-size: 54px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 4px #f5b754;
}

.admin-login-container h1 span{
    color: #f5b754;
}

.admin-login-content{
    color: #1b1b1b;
    background-color: rgba(51, 51, 51, 0.6);
    height: auto;
    width: 500px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.admin-login-form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.admin-login-form .admin-login-label{
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
    padding-left: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

.admin-login-form .admin-login-textbox{
    font-size: 20px;
    width: 400px;
    /* border-radius: 20px; */
    padding: 5px 10px;
    color: #f5b754;
    background-color: #333;
    transition: 0.7s all ease;
    border: none;
    outline: none;
    border-radius: 10px;
}

::placeholder{
    font-weight: 300;
}

.admin-login-form .admin-login-textbox:focus{
    outline: none;
    border: none;
}

.admin-login-form .admin-login-btn{
    margin-top: 50px;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 25px;
    width: fit-content;
    align-self: center;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.5s ease;
}

.admin-login-btn:hover{
    font-weight: 700;
    cursor: pointer;
    background: #f5b754;
    color: #333;
    font-weight: 600;
    box-shadow: 1px 1px 10px #333;
}