.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 999;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* border: 1px solid red;   */
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-scrolled {
    background-color: #222;
}

.header-logo{
    /* border: 1px solid black; */
    font-size: 28px;
    font-family: sans-serif;
}

.header-logo h1 a{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 2px #f5b754;
}

.header-logo h1 a:hover{
    cursor: pointer;
}

.header-logo span{
    color: #f5b754;
}

.header-navlinks{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 100px;
}

.header-navlinks nav a{
    text-decoration: none;
    margin: 0 30px;
    font-size: 20px;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.header-navlinks nav a:hover{
    /* text-decoration: underline; */
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    cursor: pointer;
}

.header-navlinks nav a.active{
    color: #f5b754;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    cursor: not-allowed;
}

.header-login{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-login .login-icon, .registration-icon{
    /* border: 2px solid #f5b754; */
    padding: 0 10px;
}

.login-icon .header-icon{
    font-size: 26px;
    margin-top: 8px;
}

.registration-icon .header-icon{
    font-size: 26px;
    margin-top: 6px;
    padding-left: 10px;
}

.login-text, .registration-text{
    margin: 0 2px;
}

.header-login a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.header-login a:hover{
    color: #f5b754;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    cursor: pointer;
}

.header-login a.active{
    color: #f5b754;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    cursor: default;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    box-shadow: 1px 1px 10px #333;
    z-index: 1000;
    border-radius: 20px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
  }
  
  .modal .close-btn {
    position: absolute;
    padding: 15px;
    top: 0;   
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    background-color: red;
    transition: 0.5s all;
    border-top-right-radius: 20px;      
  }

  .close-btn h1{
    font-size: 20px;
  }

.modal .close-btn:hover{
    color: #fff;
    border-top-right-radius: 20px;
    cursor: pointer;
    outline: none;
}

.close-btn:hover h1{
    color: #fff;
    text-shadow: 1px 1px 4px #333;
}