.contact-title{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    min-height: 75vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.contact-title:before{
    content: '';
    background: url('/public/images/contactpage.jpg') no-repeat center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

.contact-title-text{
    display: flex;
    flex-direction: column;
    margin-left: 260px;
}

.contact-title-text h4{
    font-size: 24px;
    word-spacing: 5px;
    font-weight: 500;
    font-family: Lucida Handwriting;
    position: relative;
    color: #f5b754;
}

.contact-title-text h1{
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px #fff;
    margin-top: -10px;
    text-transform: uppercase;
}

.contactus-details{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contactus-details .contactus-box{
    height: 250px;
    width: 280px;
    margin-top: -75px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 20px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.contactus-box .contactus-desc{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactus-desc h3{
    color: #f5b754;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
}

.contactus-desc p{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.contactus-desc .contactus-icon{
    font-size: 44px;
    color: #f5b754;
}

.contactus-box .contactus-bg{
    height: 50%;
    width: 100%;
    font-size: 160px;
    text-align: right;
    opacity: 0.3;
    color: #333; 
    border-bottom-right-radius: 20px;
    overflow:hidden;
    z-index: -999;
}

.contactus-bg .contactus-icon{
    margin-right: -20px;
    margin-bottom: 30px;
    z-index: 999;
}

.contactus-box:hover{
    cursor: pointer;
    background-color: #f5b754;
    margin-top: -100px;
}

.contactus-box:hover .contactus-desc h3, .contactus-box:hover .contactus-desc p{
    color: #333;
}

.contactus-box:hover .contactus-desc p{
    font-size: 16px;
    font-weight: 500;
}

.contactus-body{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactus-body .contactus-form{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus-form h1{
    font-size: 48px;
}

.contactus-form h1 span{
    color: #f5b754;
}

.contactus-form .contact-form{
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form .contact-form-row{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.contact-form-row .contact-form-col{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;  
}

.contact-form-row .contactus-textbox,
.contact-form-row .contactus-textarea{
    width: 95%;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #f5b754;
    background-color: #333;
}

.contact-form-row .contactus-textarea{
    width: 98%;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #f5b754;
    background-color: #333;
    resize: none;
}

.contactus-btn{
    width: 20%;
    margin: 15px 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    color: #222;
    background-color: #f5b754;
    border: 1px solid #f5b754;
    transition: 0.5s ease-in-out;
}

.contactus-btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

.contactform-error{
    color: red;
    align-items: left;
    margin-left: 20px;
    text-wrap: nowrap;
}

.contactus-body .contactus-map{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus-map .contactus-map-img{
    width: 650px;
    height: 500px;
    margin-bottom: 50px;
}

.contactus-map-img img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}