.PageTitle-container{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    min-height: 50vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 1px solid red; */
}

.PageTitle-container::before{
    content: '';
    background: url('/public/images/pagetitle.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

.PageTitle{
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    margin-top: 75px;
}

.PageTitle h3{
    font-size: 28px;
    word-spacing: 5px;
    font-weight: 500;
    font-family: Lucida Handwriting;
    position: relative;
}

.PageTitle h3 span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: #f5b754;
    text-transform: capitalize;
}

.PageTitle h4{
    font-size: 28px;
    font-family: Lucida Handwriting;
    color: #fff;
}

.PageTitle h1{
    font-size: 58px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px #fff;
    margin-top: -15px;
}